<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>Vehicle Number plate Detection and Recognition</title>
  <link rel="stylesheet" href="/static/uploads/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
  <link rel="stylesheet" href="/static/uploads/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="/static/uploads/css/styles.min.css">


  
<style>
  ::placeholder {
    color:rgb(13, 13, 14);
    opacity:0.8; /* Firefox */
    font-weight: bold;
  }
  </style>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

  <script>

    $("#file-picker").change(function(){

        var input = document.getElementById('file-picker');

        for (var i=0; i<input.files.length; i++)
        {
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()

            if ((ext == 'jpg') || (ext == 'png'))
            {
                $("#msg").text("Files are supported")
            }
            else
            {
                $("#msg").text("Files are NOT supported")
                document.getElementById("file-picker").value ="";
            }

        }


    } );

</script>

</head>
<body style="background-image: url('{{ url_for('static', filename='bg2.jpeg') }}'); 
background-repeat:no-repeat;
background-size:cover;
height:100vh;
display:flex;
">
<marquee direction="left" style="color:orangered;"><h3>Vehicle Number plate Recognition</h3></marquee>

<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">

<div class="login card" style="color: orangered;">
  <pre>
  <h1 style="width: fit-content;color: orangered;">Upload Vehicle Number Plate Image<br> Fruit</h1>
  <strong>Choose Image:</strong>
  <input class="btn btn-primary btn-block btn-large" type="file" name="file" accept="image/*" multiple>
  <input type="submit" value="Predict" class="btn btn-primary btn-block btn-large">
  </pre>
</div>
</form>

</body>
</html>
