<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Vehicle Number Recognition</title>
  <link rel="stylesheet" href="/static/uploads/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
  <link rel="stylesheet" href="/static/uploads/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="/static/uploads/css/styles.min.css">

  

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

  <script>

    $("#file-picker").change(function(){

        var input = document.getElementById('file-picker');

        for (var i=0; i<input.files.length; i++)
        {
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()

            if ((ext == 'jpg') || (ext == 'png'))
            {
                $("#msg").text("Files are supported")
            }
            else
            {
                $("#msg").text("Files are NOT supported")
                document.getElementById("file-picker").value ="";
            }

        }


    } );

</script>

</head>
<!-- Start: Header Blue -->
<div>
  <!-- Start: Header -->
  <div class="header-blue">
      <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
          <div class="container-fluid"><a class="navbar-brand" href="#">Vehicle Number Plate Detection and Recognition</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navcol-1">
                  <ul class="nav navbar-nav">
                      <li class="nav-item"></li>
                  </ul>
                  <form class="form-inline mr-auto" target="_self">
                      <div class="form-group"><label for="search-field"></label><input class="form-control search-field" type="search" id="search-field" name="search"></div>
                  </form><span class="navbar-text"> </span><a class="btn btn-light action-button" role="button" href="#">Check Code</a>
              </div>
          </div>
      </nav><!-- Start: Animated Type Heading --><div class="caption v-middle text-center">
<h1 class="cd-headline clip">
  <span class="blc">Welcome to</span>
  <span class="cd-words-wrapper">
    <b class="is-visible">Vehicle Number Plate Detection</b>
    <b>and Recognition Project</b>
  </span>
  <span class="blinking">|</span>
</h1>
</div><!-- End: Animated Type Heading -->
      <!-- Start: Drag and Drop Multiple File Form Input upload (Adv -->
      <div class="m-5">
          <!-- Start: Backdrop -->
          <div id="backdrop" class="backdrop backdrop-transition backdrop-dark">
              <!-- Start: Div Centered - Horizontally and Vertically -->
              <div class="text-center w-100" style="position: absolute;top: 50%;">
                  <div class="bg-light border rounded border-success shadow-lg m-auto" style="width: 150px;height: 150px;"><i class="fa fa-upload d-block p-4" style="font-size: 50px;"></i><span>Drop file to attach</span></div>
              </div><!-- End: Div Centered - Horizontally and Vertically -->
          </div><!-- End: Backdrop -->
          <div class="jumbotron pt-1">
              <div class="alert alert-success invisible mt-5" role="alert"><span id="notify"></span></div>
            
              <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
                <p>Choose Number Plate image<br></p>
                <p><input type="file" name="file" accept="image/*" multiple>
                   <input type="submit" value="Recognize">
   
              </form>
          </div>
          <div class="text-center bg-light border rounded border-dark shadow-lg p-3"><img id="image_preview" width="100">
              <div><button class="btn btn-warning btn-sm m-3" onclick="previewClose()">Close</button></div>
          </div>
      </div><!-- End: Drag and Drop Multiple File Form Input upload (Adv -->
      <!-- Start: Animated Typing With Blinking -->
      <div class="text-nowrap d-flex justify-content-center align-items-center animated-text noSelect" style="background: rgba(255,255,255,0);border-style: none;margin-top: 16px;width: 50%;margin-right: auto;margin-left: auto;"></div><!-- End: Animated Typing With Blinking -->
  </div><!-- End: Header -->
</div><!-- End: Header Blue -->

<script src="/static/uploads/js/jquery.min.js"></script>
<script src="/static/uploads/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/uploads/js/script.min.js"></script>
</body>
</html>
